.THIS .swipeSec{
    background-image: url('/sfsites/c/resource/1586773537000/MainImage01') !important; 
    background-repeat:no-repeat;
    height: 398px;
    width:620px;
}

.THIS .subHeader{
    font-family: Helvetica, Roboto, Arial, sans-serif;
    text-align:center;
    font-weight:bold;
    font-size:1.2rem;
    margin-top:30px;
}

.THIS .imgDiv{
    margin-top:15px;
}