<apex:page standardController="Object__c" extensions="RVGController"  standardStylesheets="false"
           renderAs="Pdf" sidebar="false" applyBodyTag="false">

    <head>
        <style type="text/css" media="print">
            
            @page{
            size: A4;
            margin-top: 1in;
            margin-bottom: 1in;
            margin-left:0px;
            margin-right:0px;
            
            @top-left{
            content: element(header);
            }  
            
            @bottom-left {
            content: element(footer);
            }
            
            }
            
            div.header {
            position: running(header);
            padding-bottom: 30px;
            }   
            
            div.titleStyling{
            font-size: 40px;
            color: #B22222;
            font-weight:bold !important;
            font-family: "SansSerif";
            }
            
            div.polNum{
            color: #A9A9A9;
            font-size: 15px;
            font-family: SansSerif;
            font-weight:bold !important;
            }
            
            
            div.footer {
            display: block;
            padding-bottom: 40px;
            position: running(footer);
            }
            
            h2
            {
            font-family:"Arial Unicode MS";
            }
            
            .textColour{ color: #B22222; }
            
            div.mybox {
            width: 317px;
            font-size: 13px;
            height:100px;
            padding: 10px;
            margin: 0;
            }
            
            div.myRightSideBox {
            width: 317px;
            font-size: 13px;
            height:105px;
            padding: 10px;
            background : #e9e9e9 ;
            }
            
        </style>
    </head>
    <!-- First Page -->
    <div class="header">
        <img src="{!$Resource.RVGTitle}" width="322%" height="120" />
    </div>
    
    <div class="body" style="margin-left: 35px;">
        
        
        <div class="titleStyling" style="padding-top:20px;padding-bottom: 5px;">
            Versicherungszertifikat
        </div>
        
        <div class="titleStyling" style="padding-bottom: 15px;" >
            Reiserechtsschutz
        </div>
        <div class="polNum">
            Policennummer Fortuna: 80235013
        </div>
        <div class="polNum">
            Zertifikatsnummer LINGS: {!RVGPolNum}
        </div>
        
        <h2 style="padding-top:2%;font-size:14px;">Grüazi {!conFirstName} {!conLastName}</h2>
        <h2 style="padding-bottom:0px;font-size:14px;">Vielen Dank, dass Sie sich für unsere Reiserechtsschutzversicherung bei der Fortuna entschieden haben. Gerne bestätigen wir Ihnen folgenden Abschluss:</h2>
        <div>
            <img src="{!$Resource.RVGHeader1}" width="338" height="35" style="margin-top:0.1in;" />
            <img src="{!$Resource.RVGHeader2}" width="338" height="35" style="margin-top:0.1in;margin-left:0.12in;" />
        </div>
        

        <div>
            <div  width="75" height="124" style="float: left;background : #e9e9e9 ;">
                <img src="{!$Resource.RVGInnerImage1}" width="75" height="124" style="float: left;padding-bottom:0px;padding-top:1px;" />
                <div class="mybox">
                    {!conLastName} {!conFirstName}<br/>
                    {!conStreet} {!conHouseNumber}<br/>
                    {!conPostalCode} {!conCity}<br/>
                    Geburtsdatum: {!date1}
                </div>
            </div>
            <div  width="75" height="124" style="float: left;padding-left:18px;">
                <img src="{!$Resource.RVGInnerImage2}" width="75" height="124" style="float: left;padding-bottom:0px;padding-top:1px;" />
                <div class="myRightSideBox">
                    <b style="padding-right:39.5px;">Police gültig ab:</b>
                    <apex:outputText escape="true" value="{!insuranceStartDate}"/><br/>
                    <b style="padding-right:37.5px;">Police gültig bis:</b>
                    <apex:outputText escape="true" value="{!insuranceEndDate}"/><br/>
                    <b style="padding-right:42.5px;">Vertragsdauer:</b>
                    <apex:outputText escape="true" value="{!numberOfDaysInsured}"/><br/>
                    <b>Versicherungssumme:</b>&nbsp;
                    <apex:outputText style="float:right">CHF 250’000 </apex:outputText><br/>
                    <b style="padding-right:78.5px;">Zahlart:</b>&nbsp;
                    <apex:outputText >via LINGS Rechnung</apex:outputText><br/>
                </div>
            </div>
            
        </div>
        
        <div style="float: left;">
            <img src="{!$Resource.RVGHeader3}" width="338" height="35" style="margin-top:0.10in;" />
            <img src="{!$Resource.RVGHeader4}" width="338" height="35" style="margin-top:0.10in;margin-left:0.12in;" />
        </div>
        
        <div >
            <div  width="75" height="124" style="float: left;background : #e9e9e9 ;">
                <img src="{!$Resource.RVGInnerImage3}" width="75" height="124" style="float: left;padding-bottom:0px;padding-top:1px;" />
                <div class="mybox">
                    <b>Reiserechtsschutz:</b> {!numberOfDaysInsured}<br/>
                    <b style="padding-right:30px;">Tagesprämie:</b>
                    <apex:outputText >CHF 3.50</apex:outputText><br/>
                    <b style="padding-right:29px;">Total Prämie:</b>
                    <apex:outputText >CHF {!RVGTotalPre}</apex:outputText><br/>
                    (inkl. 5% Stempelsteuer)
                </div>
            </div>
            <div  width="75" height="124" style="float: left;padding-left:18px;">
                <div class="myRightSideBox">
                    Die gegenseitigen Rechte und Pflichten regeln sich nach den Allgemeinen Versicherungsbedingungen für die Reiserechtsschutzversicherung. Die Prämienfälligkeit ist im Versicherungszertifikat ersichtlich. Die Prämie basiert auf einem Tagessatz und wird pro Monat abgerechnet.                    
                </div>
            </div>
        </div>
        
        <div style="color:#FF0000;font-size: 15px;font-family: SansSerif;font-weight:bold !important;padding-top:320px;">
            Wie melden Sie uns einen Rechtsfall?
        </div>
        <p style="float:center;font-size:15px;padding-top:0%;font-family: SansSerif;font-weight:5px;">Sollte während Ihrer Reise ein Rechtsfall eintreten, ist uns dieser so rasch als möglich per E-Mail an 
            <font class="textColour" >lings@fortuna.ch</font>
            zu melden. Bitte denken Sie daran, uns alle fallrelevanten Unterlagen und Informationen einzureichen, damit wir den Fall und das weitere Vorgehen so schnell wie möglich mit Ihnen besprechen können.
        </p> 
        
        <div style="float:center;font-size:15px;padding-top:0%;font-family: SansSerif;font-weight:5px;">
            Haben Sie Fragen oder wünschen Sie weitere Informationen? Wir sind gerne für Sie da.
        </div>
        <div style="float:center;font-size:15px;padding-top:0%;font-family: SansSerif;font-weight:5px;">
            Wir wünschen Ihnen eine gute Reise.
        </div>  
        <div style="float:center;font-size:15px;padding-top:5%;font-family: SansSerif;font-weight:5px;">
            Ihre Fortuna Rechtsschutzversicherung
        </div>
        <div class="footer" style="margin-left:35px;">
            <div style="font-weight:bold !important;padding-bottom:10px;">__________________________________________________________________________________________</div>
            <div style="float:center;font-size:11.5px;padding-top:5%;font-family: SansSerif;font-weight:bold !important;">
                Fortuna Rechtsschutz-Versicherungs-Gesellschaft AG
            </div> 
            <div style="float:center;font-size:11.5px;padding-top:0%;font-family: SansSerif;">
                Eine Gesellschaft der Gruppo Assicurativo Generali, im italienischen Versicherungsgruppenregister eingetragen unter Nummer 026
            </div> 
            <div style="float:center;font-size:11.5px;padding-top:0%;font-family: SansSerif;">
                Unsere Datenschutzerklärung ist unter generali.ch/de/datenschutz abrufbar oder kann bei unserem Kundenservice angefordert werden
            </div> 
            <div style="float:right;margin-right:35px;font-size:11.5px;padding-top:0%;font-family: SansSerif;">1/1</div>
        </div>
    </div>
</apex:page>