@media screen and (min-width: 90em) {
    .home-page .lp-container.first-screen {
       background-position: right bottom;
    }
}

@media screen and (max-width: 480px) {
    .home-page .lp-container.first-screen {
        background-position: right -180px bottom -10px;
    }
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
        0 0.25em 0 0 black,
        0 0.5em 0 0 black;
}