<template>
    <lightning-card title="Lings">
        <lightning-button label="Menu" slot="actions" class="box-shadow-menu">
        </lightning-button>
        <p class="slds-p-horizontal_small">Card Body (custom component)</p>
        <p slot="footer">Card Footer</p>
    </lightning-card>
</template>