.THIS.scrollerSize {
}

.THIS{
    background-image: url('/sfsites/c/resource/1586773537000/Home001') !important; 
    background-repeat:no-repeat;
    height: 398px;
    width:620px;
}

.THIS .slds-form{
    margin-top:20px;
    font-size:24px;
    font-weight:bold !important;
}

.THIS  button.sfdc_button {
    width: 25%;
    display: block;
    color: #fff;
    background-color: #87be1c;
    border-color: #87be1c;    
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding-right: 5px;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button.sfdc_button_1 {
    width: 25%;
    display: block;
    color: #87be1c;
    background-color: #fff;
    border-color: #fff;    
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding-right: 5px;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}