.THIS #sfdc_username_container{
    box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    margin-top: 1rem;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 12px;
    text-align: left;  
}

.THIS #sfdc_nickname_container{
    box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    margin-top: 1rem;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 12px;
    text-align: left;  
}

.THIS #sfdc_email_container{
    box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    margin-top: 1rem;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 12px;
    text-align: left;  
}

.THIS #sfdc_extrafield_container{
    box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    margin-top: 1rem;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 12px;
    text-align: left;  
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
    
}

.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS  .login-icon {
    color:Orange;font-size:22px;
}

.THIS #sfdc_password_container{
    box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    margin-top: 1rem;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 12px;
    text-align: left;  
}

.THIS #sfdc_confirm_password_container{
    box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    margin-top: 1rem;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 12px;
    text-align: left;  
}

.THIS  button.sfdc_button {
    min-width: 10rem;
    width: 50%;
    margin-bottom:80px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    display: block;
    color: #fff;
    background-color: #87be1c;
    border-color: #87be1c;    
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding-right: 10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS .customhover {
    background-color:#73a218;
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS  input {
    margin-left:10px;
    margin-top: 3px; 
    width:90%;
    outline:none;
    border: 1px solid #CCC;
    border-radius: 7px;
    /*  border: 1px solid transparent;*/
    -webkit-appearance: none;   
    font-size: 14px;
    text-align:left;
}

.THIS #sfdc_forgot{
    font-family: 'Open Sans', 'sans-serif';
    font-weight:300;
    font-size: 14px;
    margin-top: 10px
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS input[type="checkbox"] {
    appearance: none;
    border: 1px solid white;
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.THIS input[type="checkbox"]:checked {
    border: 1px solid ;
}

.THIS input[type="checkbox"]:checked:after {
    display: block;
    position: relative;
    content: '';
    left: 3px;
    top: 3px;
    height: 6px;
    width: 10px;
    border-bottom: 4px solid /*#354452*/ white;
    border-left: 4px solid /*#354452*/ white;
    transform:rotate(-45deg);
}

.THIS input[type="checkbox"].disabled {
    opacity: 0.35;
}

.THIS input[type="checkbox"] + label {
    vertical-align: middle;
}

.THIS .input-placeholder {
    padding-bottom:1%; 
}

.THIS .borderStyle{
    background-color:white;
    border: 1px solid #d2d4d6;  
    width: 340px;
    height: 1200px;
    margin-left:12px;
    border-radius: 5px;
}

.THIS .buttonAlign {
    margin-bottom : 50%;
}

.THIS .applyspace{
    padding-bottom : 20rem;
}

.THIS .customextrafield_container{
    box-sizing: border-box;
    width: 100%;
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 12px;
    text-align: left;  
    outline: none;
}

.THIS .datepicker .slds-input-has-icon .slds-input__icon:not(button) {
    pointer-events: auto;
}

.THIS .datapickerAlign .slds-input-has-icon_right .slds-input__icon {
    right: 2rem;
}

.THIS .alignLabel .slds-form-element__label {
    padding-left: 10px;
    margin-top:10px;
    font-size: unset;
    font-weight: bold;
}

.THIS .requiredStyle .slds-required {
    color: rgb(31, 3, 2);
}

.THIS.scrollerSize {
    height: 100%;
}

.THIS input.error, .THIS select.error {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}

.THIS span.required{
    color:#c23934;
}

.THIS .hide-error-message > .slds-form-element > .slds-form-element__help {
    display: none;
}

.THIS .hide-error-message2 > .slds-form-element > .slds-has-error > .slds-form-element__help {
    display: none;
}

.THIS .callout {
    position: relative;
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 4px;
}

.THIS .errText {
    background-color: #f9d9d9;color: #555;padding: 1rem;border-radius: 4px;
}