.THIS #sfdc_username_container{
  box-sizing: border-box;
    width: 100%;
    height: 3.45556rem;
    /* margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;*/
    font-size: .9rem;
    min-width: 10rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     padding: 12px;
    text-align: left;    
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}

.THIS  .login-icon {
    color:#ccc;font-size:22px;
}

.THIS  button.sfdc_button {
  
    min-width: 10rem;
    width: 80%;
   /* margin-top: 15px;
    margin-bottom: 5px;*/
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    display: block;
    color: #fff;
    background-color: #87be1c;
    border-color: #87be1c;    
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding-right: 10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    background-color:#73a218;
    outline:none;
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
    text-align:center;
}

.THIS  input {
    margin-left:10px;
    margin-top: 3px; 
    width:90%;
    outline:none;
    border: 1px solid #CCC;
    border-radius: 7px;
    -webkit-appearance: none;   
    font-size: 14px;
    text-align:left;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS .input-placeholder {
  padding-bottom:5%;
  padding-top:5%;
  padding-left:5%;  
}

.THIS .borderStyle{
    background-color:white;
    border: 1px solid #d2d4d6;  
  	width: 309px;
 	height: 290px; 
    border-radius: 5px;
}

.THIS .callout {
    position: relative;
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 4px;
}

.THIS .errText {
    background-color: #f9d9d9;color: #555;padding: 1rem;border-radius: 4px;
}