.THIS .formContainer{
    background: #fff;
    color: #555;
    border: 1px solid #d2d4d6;
    border-radius: 4px;
	padding-top: 2.4rem;
    padding-right: 3.3rem;
    padding-bottom: 2.4rem;
    padding-left: 3.3rem;
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    font-size: .9rem;
    max-width: 700px;
    text-align: center;
}