.THIS .Applybody{
	padding-top: 2.4rem;
    padding-right: 3.3rem;
    padding-bottom: 2.4rem;
    padding-left: 3.3rem;
    font-family: Rubik, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: .9rem;
    text-align:center;
}