.THIS #sfdc_username_container{
  
   /* 
    background-color:white;
    border: 1px solid #CCC;
    border-radius: 10px; 
    */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     padding: 12px;
    text-align: left;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}

.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
    text-align: left;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  .login-icon {
    color:#ccc;font-size:22px;text-align:left;
}

.THIS #sfdc_password_container{
   /* margin-bottom:10px;
    padding: 10px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
     padding: 12px;
    text-align: left;
}

.THIS  button.sfdc_button {
    min-width: 10rem;
    width: 50%;
   /* margin-top: 15px;
    margin-bottom: 5px;
    margin:auto;*/
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    display: block;
    color: #fff;
    background-color: #87be1c;
    border-color: #87be1c;    
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding-right: 10px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    /*background-color:#73a218;*/
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS  input {
    margin-left:10px;
    margin-top: 3px; 
    outline:none;
    width:90%;
    border: 1px solid #CCC;
    border-radius: 7px;
    -webkit-appearance: none;   
    font-size: 14px;
    text-align:left;
}


.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}

.THIS label.uiLabel-hidden {
    display:none;
}

.THIS .input-placeholder {
  padding-bottom:5%;
  padding-top:5%;
  padding-left:5%;  
}

.THIS .toggle {
    display: none;
}

.THIS .buttonBackgroundColor {
    background-color:none;
    font-size:15px;
}


.THIS.scrollerSize {
    height: 700px;
    overflow : scroll;
}

.THIS .callout {
    position: relative;
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 4px;
}

.THIS .errText {
    background-color: #f9d9d9;color: #555;padding: 1rem;border-radius: 4px;
}